<ul>
    {% for entity in entities %}
        <li>
            <a href="{{ path('tren_show', { 'slug': entity.slug }) }}">
                {{ entity }}
            </a>
        </li>
    {% endfor %}
</ul>