{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12">


        {# table body #}
        {% for article in pagination %}

            <!-- Comment -->
            <div class="media" style="border-bottom: dotted 2px;">
                <div class="media-body">
                    <h4 class="media-heading">{{ article.title }}
                        <small style="float: right">{{ article.posted|date('Y-m-d H:i:s') }}</small>
                    </h4>
                    <br/>
                    <br/>
                    {{ article.description }}
                </div>
            </div>



        {% endfor %}

    </div>

    <div class="col-md-12">
        {# display navigation #}

        <div class="navigation" style="text-align: center;bottom:0;">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
