{% extends 'base.html.twig' %}

{% block body %}
<!-- Carousel
================================================== -->



    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

    <div class="row" style="text-align: center">


        <div class="col-md-3">
            <div class="yt"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/tasks"><i
                            class="icon-comment-empty"></i></a></div>
        </div>

        <div class="col-md-3">
            <div class="fb"><a
                        href="http://localhost/symfonyCRUDpanel/web/app_dev.php/squad"><i
                            class="icon-users"></i></a>
            </div>
        </div>


        <div class="col-md-3">
            <div class="tw"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/image"><i class="icon-camera"></i></a></div>

        </div>

        <div class="col-md-3">
            <div class="gplus"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/album"><i class="icon-th"></i></a></div>
        </div>

        <div class="col-md-3">
            <div class="gplus"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/carousel"><i class="icon-mail-alt"></i></a></div>
        </div>

        <div class="col-md-3">
            <div class="gplus"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/story"><i class="icon-mail-alt"></i></a></div>
        </div>

        <div class="col-md-3">
            <div class="gplus"><a href="http://localhost/symfonyCRUDpanel/web/app_dev.php/contact"><i class="icon-mail-alt"></i></a></div>
        </div>

        <div style="clear: both"></div>


    </div>


    {% endblock %}
