{% extends "::layout.html.twig" %}
{% block content %}
    <h2>Lista wszystkich filmów</h2>
    <ul>
        {% for film in entities %}
            <li>
                {{ film }}
                <ul>
                    {% for aktor in film.aktorzy %}
                        <li>
                            {{ aktor }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}