{% extends "::layout.html.twig" %}

{% block content %}
    <h2>Szczegółowe dane filmu</h2>
    <h3>Tytuł: {{ entity }}</h3>
    <h4>Aktorzy, którzy zagrali w filmie:</h4>
    {% include 'MyFrontendBundle:Aktor:_list.html.twig' with {'dane': entity.aktorzy } %}
{% endblock %}