{% extends "::base.html.twig" %}
{% block body %}
    <div id="pojemnik">
        <h1>Jan Kochanowski</h1>
        <h2><a href="{{ path('homepage') }}">Treny</a></h2>
        {% render controller("MyFrontend5Bundle:Default:menu") %}
        <div id="tresc">
            {% block contents %}
            {% endblock %}
            </p>
        </div>
        <br class="clear" />
    </div>
{% endblock %}