Hello World!

<form action="http://localhost/symfonyCRUDtest/web/app_dev.php/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="myimage"/>

    <br/>
    <input type="text" name="owner" placeholder="imageOwner"/>
    <br/>
    <br/>
    <input type="text" name="description" placeholder="imageDescription"/>
    <br/>
    <br/>
    <input type="submit" name="submit" value="submit">
</form>