{% extends "::layout.html.twig" %}
{% block content %}
<h2>Lista wszystkich kontynentów</h2>
  <ul>
    {% for kontynent in entities %}
      <li>
        {{ kontynent }}
        <ul>
          {% for panstwo in kontynent.panstwa %}
            <li>
              {{ panstwo }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}