<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Aplikacja typu CRUD</title>
</head>
<body>

<h2>Aplikacja typu CRUD - Edycja danych w tabelach</h2>
    <ul>
        <li><a href="{{ path('contactdetails_index') }}">Contact Details</a></li>
        <li><a href="{{ path('contacts_index') }}">Contacts</a></li>
        <li><a href="{{ path('fieldtypes_index') }}">FieldTypes</a></li>
    </ul>





{% block body %}{% endblock %}
</body>
</html>