{% extends "::base.html.twig" %}
{% block body %}
    <ul>
        <li><a href="{{ path('homepage') }}">Strona główna</a></li>
        <li><a href="{{ path('aktor_index') }}">Lista aktorów</a></li>
        <li><a href="{{ path('film_index') }}">Lista filmów</a></li>
    </ul>
    {% block content %}
    {% endblock %}
{% endblock %}


