{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kontakt</h1>

    <!-- Comment -->
    <div class="media">
        <a class="pull-left">
            <img class="media-object" src="{{ asset('images/slawek.jpg') }}" width="128px">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Sławek Pacholski
                <small>Głównodowodzący orkiestrą</small>
            </h4>
            tel : 66666666
            e-mail: ssss@www.pl
        </div>
    </div>




{% endblock %}
